[submodule "FirstPersonShooterCharacterControllerRemake/Assets/Plugins/CM-Unity-Package"]
	path = FirstPersonShooterCharacterControllerRemake/Assets/Plugins/CM-Unity-Package
	url = https://github.com/empireboy/CM-Unity-Package
[submodule "FirstPersonCharacterControllerRemake/Assets/Plugins/CM-Unity-Package"]
	path = FirstPersonCharacterControllerRemake/Assets/Plugins/CM-Unity-Package
	url = https://github.com/empireboy/CM-Unity-Package
